/* reset styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* global styles */

body {
    line-height: 1.2;
    background-color: #202020;
    font-family: "montserrat";
    color: #ddd;
}

.section {
    padding: 32px 0;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

.button {
    padding: 8px 12px;
    border-radius: 28px;
    font-size: 18px;
    border: none;
    background-color: #7349bd;
    color: #ddd;
    box-shadow: rgb(115 73 189 / 70%) 0px -10px 20px;
}

.title {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
}

/* header */

.header.section {
    padding: 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.block-social {
    display: flex;
    gap: 12px;
}

.social-link {
    display: block;

    & svg {
        stroke: #7349bd;
        fill: transparent;
    }
}

.tel-link {
    font-size: 18px;
}

/* hero */
.hero.section {
    position: relative;
    padding-top: 64px;
    padding-bottom: 0;
    height: calc(100vh - 48px);
    max-height: 720px;
    overflow: hidden;
}

.hero .title {
    position: relative;

    & span {
        font-weight: 700;
        color: #8259a3;
    }
}

.hero .text {
    margin-top: 12px;
    text-align: center;
}

.hero .button {
    position: absolute;
    z-index: 1;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.2;
}

.hero .photo {
    position: absolute;
    bottom: 0;
}

/* benefits */

.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
}

.benefits-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;

    & svg {
        position: absolute;
        stroke: #ddd;
        fill: transparent;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.icon-bg {
    position: relative;
    width: 64px;
    height: 64px;
    background: radial-gradient(circle, #7349bd 25%, transparent 65%);
}